.nav{
    background-color:  #1c539b;
    height:70px;
    
}
h4{
    color:white;
    font-size: 15px;
    font-weight: bold;
}
.Brand {
    color:white;
    font-size: 20px;
    font-weight: bold;
    
}
.navish{
    margin-left:1500px;
}
