.header-class{
    background-color:#1c539b;
    text-align: center;
    border: transparent;
    padding:10px;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
    padding:0px;
}
.row-class{
    border:transparent;
    font-weight: bold;
    font-weight: 10px !important;
    padding:0px;
}